<div class="pacientes-container">
  <div class="pacientes-header">
    <h1>Pacientes</h1>
    <button class="add-paciente-btn">
      <i class="fas fa-plus padding-left-5px"></i> Cadastrar Paciente
    </button>
  </div>
  <app-pacientes-filtro
    [searchTerm]="searchTerm"
    [selectedFilter]="selectedFilter"
    (filterChanged)="handleFilterChanged($event)"
    (searchTermChanged)="handleSearchTermChanged($event)"
  ></app-pacientes-filtro>

  <div class="table-container">
    <table class="pacientes-lista">
      <thead>
        <tr class="header">
          <th (click)="sortPatients('name')">Paciente <i class="fas fa-sort"></i></th>
          <th (click)="sortPatients('status')">Status <i class="fas fa-sort"></i></th>
          <th (click)="sortPatients('diagnosis')">Diagnóstico <i class="fas fa-sort"></i></th>
          <th (click)="sortPatients('medication')">Medicamento <i class="fas fa-sort"></i></th>
          <th (click)="sortPatients('healthProvider')">Operadora de saúde <i class="fas fa-sort"></i></th>
          <th (click)="sortPatients('lastRequest')">Última Solicitação <i class="fas fa-sort"></i></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paciente of pacientesFiltrados">
          <td>
            <div class="paciente-info">
              <div class="paciente-initials" [ngStyle]="{'background-color': paciente.color}">
                {{ paciente.initials }}
              </div>
              <span>{{ paciente.name }}</span>
            </div>
          </td>
          <td>
            <span class="status-badge" [ngClass]="paciente.status === 'Ativo' ? 'active' : 'inactive'">
              {{ paciente.status }}
            </span>
          </td>
          <td>{{ paciente.diagnosis || '-' }}</td>
          <td>{{ paciente.medication }}</td>
          <td>{{ paciente.healthProvider }}</td>
          <td>{{ paciente.lastRequest }}</td>
          <td>
            <div class="actions">
              <button class="action-btn" title="Nova solicitação">
                <i class="fas fa-receipt"></i>
              </button>
              <button class="action-btn" (click)="toggleStatusDropdown(paciente)" title="Atualizar status">
                <i class="fas fa-ellipsis-h"></i>
              </button>

              <div class="status-dropdown" *ngIf="paciente.showStatusDropdown">
                <a href="#" (click)="changeStatus(paciente, 'Ativo')">Ativo</a>
                <a href="#" (click)="changeStatus(paciente, 'Inativo')">Inativo</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-paginacao
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [totalRecords]="totalRecords"
    (pageChanged)="handlePageChanged($event)"
    (pageSizeChanged)="handlePageSizeChanged($event)"
  ></app-paginacao>
</div>